body {
  text-align: center;
}

/* NAV */
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  display: inline-block;
  width: 20%;
  padding: 0.2em;
  border: 0.2em grey outset;
  background-color: lightgray;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: white;
}

nav a:active {
  border-style: inset;
  background-color: gray;
  color: white;
}

/* GENERAL */
section,
section:target ~ section:last-child {
  display: none;
  height: 100px;
}

section:last-child,
section:target {
  display: block;
}

:target h2 {
  padding-top: 1.2em;
}

h2 {
  text-align: center;
  color: white;
}

p,
ul,
li {
  text-align: left;
}

code {
  background-color: #ddd;
}


/* PHOTO CORNERS  */
#corners h2 {
  background-color: #600;
}

#corners div.frame {
  position: relative;
  width: 80%;
  display: inline-block;
}

#corners div.corners {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://dciforks.github.io/limited-repeat/img/photo-corners/top-left.png"),
    url("https://dciforks.github.io/limited-repeat/img/photo-corners/top-right.png"),
    url("https://dciforks.github.io/limited-repeat/img/photo-corners/bottom-right.png"),
    url("https://dciforks.github.io/limited-repeat/img/photo-corners/bottom-left.png");
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat;
}

#corners img {
  width: 100%;
}

/* FRAME */
#frame h2 {
  background-color: #006;
}

#frame div.frame {
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto;
  background-color: #003;
  background-image: url("https://dciforks.github.io/limited-repeat/img/square.png"), url("https://dciforks.github.io/limited-repeat/img/square.png"),
    url("https://dciforks.github.io/limited-repeat/img/square.png"), url("https://dciforks.github.io/limited-repeat/img/square.png");
  background-size: 20%;
  background-position: top, left, bottom, right;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}

#frame div.frame p {
  padding: 25%;
  text-align: center;
  color: white;
  font-size: 11vmin;
}


/* STARS */
#stars h2 {
  background-color: purple;
}


/* NOTES */
#notes h2 {
  background-color: #606;
}




/* CONTEXT */
#context h2 {
  background-color: black;
}

dd {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

dt {
  font-size: 1.2em;
}

/* GENERAL */
